.About {
  .box {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;

    @include respond-to("m-up") {
      flex: 1;
    }

    &--image {
      margin-bottom: 3rem;

      @include respond-to("m-up") {
        margin-bottom: 0;
      }

      .design-bg {
        position: relative;
        width: 75%;
        height: 550px;
        border: 1px solid rgba($primary, 0.1);

        @include dots-bg($value-ver: 35, $value-hor: 15, $img: "secondary");

        &,
        .img {
          background-repeat: no-repeat;
          background-position: top center;
          background-size: cover;
        }

        .img {
          position: absolute;
          top: 85px;
          right: -110px;
          width: 100%;
          height: 390px;
          background-image: url(../images/itsb-boehm-alexander-portrait.jpg);
          border-radius: 4px;
          transition: top $transition-duration-slow ease-in-out;

          @include retina("../images/itsb-boehm-alexander-portrait@2x.jpg");

          &:hover {
            top: 50px;
          }
        }

        &-enter {
          animation-name: fadeInLeft;
          animation-duration: $transition-duration-slow;
        }

        &-exit {
          animation-name: fadeOut;
          animation-duration: $transition-duration;
        }
      }
    }

    &--description {
      @include respond-to("m-up") {
        .section-header {
          text-align: inherit;

          h4 {
            left: -1rem;
          }
        }
      }

      .inner-box {
        &-enter {
          animation-name: fadeInRight;
          animation-duration: $transition-duration-slow;
        }

        &-exit {
          animation-name: fadeOut;
          animation-duration: $transition-duration;
        }
      }

      .content {
        padding: 0 1rem;

        .description {
          h4 strong {
            text-shadow: $primary 0 0 7px;
          }

          p:first-of-type {
            margin-bottom: 0.5rem;
          }
        }

        .description,
        .contact {
          margin-bottom: 1.5rem;
          border-bottom: 1px solid rgba($primary, 0.2);
        }

        .contact {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-top: 1.5rem;

          .info {
            display: flex;
            flex-basis: 100%;
            margin-bottom: 1rem;

            @include respond-to("xs-up") {
              flex-basis: 50%;
            }

            @include respond-to("m-up") {
              flex-basis: 100%;
            }

            @include respond-to("l-up") {
              flex-basis: 50%;
            }

            span {
              display: inline-block;

              &:first-child {
                width: 5rem;
              }
            }
          }
        }

        .actions {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;

          a {
            width: 100%;
            margin: 0.5rem 0;

            @include respond-to("xs-up") {
              width: inherit;
              margin: 0 0.5rem;
            }

            @include respond-to("m-up") {
              width: 100%;
              margin: 0.5rem 0;
            }

            @include respond-to("l-up") {
              width: inherit;
              margin: 0 0.5rem;
            }
          }
        }
      }
    }
  }
}
