.Contact {
  @include dots-bg(
    $pos-ver: "left",
    $value-ver: 0,
    $z-index: 2,
    $value-hor: -83,
    $opacity: 0.2
  );

  @include respond-to("l-up") {
    @include max-container;
  }

  @include respond-to("xl-up") {
    &::after {
      left: -12.5rem;
    }
  }

  .details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .contact-detail {
    flex-basis: 100%;
    margin: 0 1.5rem;
    text-align: center;

    &:not(:last-of-type) {
      padding-bottom: 2.5rem;
      border-bottom: 1px solid rgba($primary, 0.2);
    }

    &:not(:first-of-type) {
      padding-top: 2rem;
    }

    @include respond-to("m-up") {
      flex: 1;
      margin: inherit;

      &:not(:last-of-type) {
        padding-bottom: inherit;
        border: inherit;
      }

      &:not(:first-of-type) {
        padding-top: inherit;
      }
    }
  }

  .icon {
    color: $primary;
    font-size: 2.5rem;
  }

  .content {
    h4 {
      margin-bottom: 1.25rem;
      color: $primary;
      font-weight: 500;
      font-size: 0.875rem;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    p {
      max-width: 15rem;
      margin: 0 auto 1rem;
      font-weight: 500;
      font-size: 0.875rem;
    }
  }

  form {
    display: block;
    width: 100%;
    margin-top: 6rem;

    input[type="text"],
    input[type="email"],
    input[type="phone"],
    textarea {
      width: 100%;
      margin-bottom: 1.5rem;
      padding: 0.5rem 1.25rem;
      color: rgba($white, 0.7);
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.4;
      background: transparent;
      background-image: none;
      border: 1px solid rgba($black, 0.15);
      border-bottom: 1px solid rgba($white, 0.1);
      border-radius: 0;
      box-shadow: none;
      transition: all ease-in-out $transition-duration-slow;
      appearance: none;

      &:active,
      &:focus {
        border: 1px solid rgba($black, 0.1);
        border-bottom: 2px solid $primary;
        outline: none;
        box-shadow: none;
      }

      &.error {
        border-bottom: 2px solid $danger;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="phone"] {
      height: 3rem;
    }

    textarea {
      height: 10rem;
    }

    .error-message {
      margin-top: -1rem;
      padding-left: 1.2rem;
      color: lighten($danger, 25%);
      font-style: italic;
    }

    .switch {
      develop
      display: flex;
      flex-direction: column;
      text-align: center;

      @include respond-to("s-up") {
        flex-direction: row;
        text-align: inherit;
      }

      input[type="checkbox"] {
        $input-width: 2.2rem;
        $input-radius: calc(#{$input-width} / 2);
        $input-height: calc(#{$input-width} / 2);
        $input-light-dims: calc(#{$input-height} / 2.5);
        $input-bg-static: darken($white, 70%);

        position: relative;
        display: block;
        width: $input-width;
        height: $input-height;
        margin: 0 auto 1rem;
        background-color: $input-bg-static;
        border-radius: $input-radius;
        outline: none;
        box-shadow: 0 0 0 3px darken($input-bg-static, 7.5%);
        transition: background-color $transition-duration ease;
        appearance: none;

        @include respond-to("s-up") {
          margin: 0.25rem 2rem 0;
        }

        &:before,
        &:after {
          position: absolute;
          display: block;
          border-radius: 100%;
          transition: background-color $transition-duration ease,
            transform $transition-duration ease;
          content: "";
        }

        &:before {
          width: calc(#{$input-width} / 2);
          height: $input-height;
          background-color: lighten($background, 5%);
        }

        &:checked {
          &:before {
            background-color: darken($primary, 15%);
            transform: translateX(100%);
          }
        }
      }

      &__text {
        margin-bottom: 1rem;
      }
    }

    input[type="submit"] {
      display: block;
      width: 100%;
      cursor: pointer;

      @include respond-to("xs-up") {
        width: auto;
        margin-left: auto;
      }

      &:disabled {
        color: rgba($white, 0.3);
        background-color: transparent;
        border: 1px solid rgba($white, 0.3);
        cursor: default;
      }
    }
  }
}
