.Footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2.75rem;
  text-align: center;
  background-color: $background-dark;

  @include respond-to("l-up") {
    flex-direction: row-reverse;
    padding-right: 10rem;
    padding-left: 10rem;
  }

  @include respond-to("xl-up") {
    padding-right: 15rem;
    padding-left: 15rem;
  }

  .logo,
  .social,
  .copyright {
    width: 100%;

    @include respond-to("l-up") {
      width: 33%;
    }
  }

  .copyright {
    margin: 1rem 0 0;
  }

  .copyright {
    font-size: 0.75rem;
  }
}
