.Testimonials {
  background-image: url(../images/itsb-testimonials-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;

  @include retina("../images/itsb-testimonials-bg@2x.jpg");

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.8);
  }

  .section-header {
    h6 {
      color: rgba($white, 0.1);
    }
  }

  .slider {
    z-index: 6;
    margin-bottom: 1.5rem;
    font-style: italic;
    text-align: center;

    &-list {
      cursor: grab !important;
    }

    &-slide {
      img {
        width: 5rem;
        margin: 0 auto 2rem;
        border-radius: 5rem;
      }

      .quote {
        max-width: 40rem;
        margin: auto;
        padding-bottom: 1rem;

        span {
          font-size: 1.5rem;
          line-height: 0;
        }
      }

      .name,
      .company {
        display: block;
      }

      .company {
        font-size: 0.75rem;
      }
    }
  }
}
