# Logs
npm-debug.log*

# Dependency directories
node_modules

# DeepCode
.dccache

# Credentials
.env
.env.production

# Builds
backend/build/*
backend/dist/*
frontend/build/*
frontend/src/styles/css/*
