@font-face {
  font-weight: 300;
  font-family: "Quicksand";
  font-style: normal;
  src: url("../fonts/quicksand-latin-300.woff2") format("woff2"),
    url("../fonts/quicksand-latin-300.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Quicksand";
  font-style: normal;
  src: url("../fonts/quicksand-latin-400.woff2") format("woff2"),
    url("../fonts/quicksand-latin-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: "Quicksand";
  font-style: normal;
  src: url("../fonts/quicksand-latin-500.woff2") format("woff2"),
    url("../fonts/quicksand-latin-500.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: "Quicksand";
  font-style: normal;
  src: url("../fonts/quicksand-latin-600.woff2") format("woff2"),
    url("../fonts/quicksand-latin-600.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Quicksand";
  font-style: normal;
  src: url("../fonts/quicksand-latin-700.woff2") format("woff2"),
    url("../fonts/quicksand-latin-700.woff") format("woff");
  font-display: swap;
}
