* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: $white;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: $font-familie;
  line-height: 1.8;
  background-color: #0d0d0d;

  @include respond-to("m-up") {
    font-size: 0.9375rem;
  }
}

::-webkit-scrollbar {
  display: none;

  @include respond-to("m-up") {
    display: block;
    width: 0.5rem;
  }

  &-track {
    border-radius: 1.5rem;
  }

  &-thumb {
    background: $primary;
    border-radius: 0.5rem;

    &:hover {
      background: $primary;
    }
  }
}

::-webkit-selection {
  color: $white;
  background: $primary;
}

::-moz-selection {
  color: $white;
  background: $primary;
}

::selection {
  color: $white;
  background: $primary;
}

a {
  color: $primary;
  text-decoration: none;
  background-color: transparent;
  transition: $transition-duration;

  &:hover,
  &:active,
  &:focus {
    color: $white;
    outline: none;
  }
}

p {
  margin: 0 0 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 2rem 0;
  color: $white;
  font-weight: 400;
  font-family: $font-familie;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

b,
strong {
  font-weight: bolder;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 1px solid rgba($primary, 0.2);
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

button,
input,
textarea {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="submit"] {
  -webkit-appearance: button;
}

textarea {
  overflow: auto;
}

[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.App {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.Main {
  display: block;
  float: right;
  width: 100%;
  transition: $transition-duration;

  @include respond-to("s-up") {
    width: $layout-main-s;
  }

  @include respond-to("m-up") {
    width: $layout-main-m;
  }

  @include respond-to("l-up") {
    width: $layout-main-l;
  }

  .offcanvas & {
    transform: translateX($layout-main-xs);
  }
}

.About,
.Contact,
.Services {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  clear: both;
  width: 100%;
  padding: 5rem 1rem 8rem;
}
