.section-header {
  position: relative;
  z-index: 6;
  width: 100%;
  text-align: center;

  h2 {
    margin-bottom: 3rem;
    padding: 0 1rem;
  }

  h5 {
    margin-bottom: 1rem;
    color: rgba($white, 0.5);
    font-weight: 500;
    font-size: 0.625rem;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  h6 {
    position: absolute;
    top: -3rem;
    right: 0;
    left: 0;
    color: rgba($white, 0.03);
    font-weight: 500;
    font-size: 3.75rem;
    line-height: 1.8;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}
