.Modal {
  position: fixed;
  top: 10vh;
  left: 10%;
  z-index: 991;
  width: 80%;
  background: $background;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

  @include respond-to("s-up") {
    top: 15vh;
    left: calc(50% - 20rem);
    width: 40rem;
  }

  @include respond-to("l-up") {
    top: 20vh;
    left: calc(50% - 30rem);
    width: 60rem;
  }

  &__header {
    width: 100%;
    padding: 1rem 0.5rem;
    background: $primary;

    h2 {
      margin: 0.5rem;
    }
  }

  &__content {
    max-height: 60vh;
    margin: 0.5rem;
    padding: 1rem 0.5rem;
    overflow-y: auto;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-enter {
    transform: translateY(-10rem);
    opacity: 0;

    &-active {
      transform: translateY(0);
      opacity: 1;
      transition: all $transition-duration-fast;
    }
  }

  &-exit {
    transform: translateY(0);
    opacity: 1;

    &-active {
      transform: translateY(-10rem);
      opacity: 0;
      transition: all $transition-duration-fast;
    }
  }

  .response-modal {
    h4 {
      margin-bottom: 1.5rem;
    }

    ul {
      margin: 1.5rem 0;
      padding-left: 1rem;
    }

    li {
      list-style-type: none;
    }

    svg {
      margin-right: 0.5rem;
    }
  }
}
