$go-next-width: 32px;
$triangle-width: 4px;

.go-next {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  width: $go-next-width;
  margin-right: auto;
  margin-left: auto;
  padding-top: $go-next-width;
  color: $white;
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    bottom: -$go-next-width;
  }

  span {
    &:first-of-type {
      white-space: nowrap;
      text-orientation: mixed;
      transform: rotate(180deg);
      writing-mode: vertical-lr;
    }

    &:last-of-type {
      display: block;
      width: 1px;
      height: 40px;
      margin-left: calc(#{$go-next-width} / 2);
      background: $white;

      &::after {
        position: absolute;
        bottom: 0;
        left: calc(50% - #{$triangle-width});
        z-index: 9998;
        border-top: 10px $white solid;
        border-right: $triangle-width transparent solid;
        border-left: $triangle-width transparent solid;
        content: "";
      }
    }
  }
}
