.Spinner {
  position: fixed;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $background;
  transition: all $transition-duration-slow;

  &__inner {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    transition: width $transition-duration-slow,
      height $transition-duration-slow;

    div {
      position: absolute;
      width: 16px;
      height: 16px;
      background: $primary;
      border-radius: 50%;
      transition: width $transition-duration-slow,
        height $transition-duration-slow;
      animation: spinner 1.2s linear infinite;
    }

    div:nth-child(1) {
      top: 8px;
      left: 8px;
      animation-delay: 0s;
    }

    div:nth-child(2) {
      top: 8px;
      left: 32px;
      animation-delay: -0.4s;
    }

    div:nth-child(3) {
      top: 8px;
      left: 56px;
      animation-delay: -0.8s;
    }

    div:nth-child(4) {
      top: 32px;
      left: 8px;
      animation-delay: -0.4s;
    }

    div:nth-child(5) {
      top: 32px;
      left: 32px;
      animation-delay: -0.8s;
    }

    div:nth-child(6) {
      top: 32px;
      left: 56px;
      animation-delay: -1.2s;
    }

    div:nth-child(7) {
      top: 56px;
      left: 8px;
      animation-delay: -0.8s;
    }

    div:nth-child(8) {
      top: 56px;
      left: 32px;
      animation-delay: -1.2s;
    }

    div:nth-child(9) {
      top: 56px;
      left: 56px;
      animation-delay: -1.6s;
    }
  }

  &.exit-done {
    right: 0;
    width: 0;

    .Spinner__inner,
    .Spinner__inner div {
      width: 0;
      height: 0;
    }
  }

  @keyframes spinner {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
  }
}
