---
import About from '@/components/About.astro';
import Aside from '@/components/Aside.astro';
import ContactSection from '@/components/ContactSection.astro';
import Hero from '@/components/Hero.astro';
import Services from '@/components/Services.astro';
import Stats from '@/components/Stats.astro';
import Testimonials from '@/components/Testimonials.astro';
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout>
	<Aside />
	<main id="main">
		<Hero />
		<About />
		<Services />
		<Stats />
		<Testimonials />
		<ContactSection />
		<!-- <Footer /> -->
	</main>
</MainLayout>
