.logo {
  display: block;
  width: 100%;
  font-size: 3rem;
  text-transform: uppercase;

  a {
    display: inline-block;
    width: 100%;
    text-indent: -99999rem;
    background: url(../images/its-boehm-logo.svg) no-repeat center;
  }
}
