.About {
  .image-box,
  .welcome-box {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;

    @include respond-to("m-up") {
      flex: 1;
    }
  }

  .image-box {
    .design-bg {
      // TODO: Remove dummy data.
      height: 500px;
      background-color: blue;
    }
  }

  .welcome-box {
    // TODO: Remove dummy data.
    height: 1000px;
    background-color: red;
  }
}
