---
import {
	serviceContactDataDE,
	serviceContactDataEN,
} from "@/data/service-contact";
import { useTranslations } from "@/utils/i18n";
import Actions from "./Actions.astro";
import Contact from "./Contact.astro";
import SectionHeader from "./SectionHeader.astro";

const ui = {
	en: {
		SectionHeader: {
			bgText: "Welcome",
			mainText: "That's me",
			smallText: "Welcome & introduction",
		},
		description: {
			heading: "Hi! I am <strong>Alex</strong>!",
			content: {
				"1": "A few years ago, I discovered my love for web content. It started with simple games for my own personal use, but it has steadily developed into something more.",
				"2": "At first, it was friends and family who wanted their own websites. Then came websites, especially for non-profit organisations, and now professional companies as well.",
			},
		},
	},
	de: {
		SectionHeader: {
			bgText: "Willkommen",
			mainText: "Das bin ich",
			smallText: "Willkommen & Einf端hrung",
		},
		description: {
			heading: "Hi! Ich bin der <strong>Alex</strong>!",
			content: {
				"1": "Vor einigen Jahren habe ich meine Liebe zum Webcontent entdeckt. Angefangen mit einfachen Spielereien f端r meine privaten Zwecke, hat sich daraus stetig mehr entwickelt.",
				"2": "Zuerst waren es Freunde und Familie, die einen eigenen Webauftritt haben wollten. In der Folge kamen Webseiten, insbesondere f端r gemeinn端tzige Vereine, und inzwischen auch professionelle Unternehmen dazu.",
			},
		},
	},
};

const lang = Astro.url.pathname.split("/")[1] === "de" ? "de" : "en";

const t = useTranslations(ui, lang);

const serviceContactData =
	lang === "en" ? serviceContactDataEN : serviceContactDataDE;
---

<section class="about main-section" id="about">
	<div class="box box--image">
		<div class="design-bg">
			<div class="img"></div>
		</div>
	</div>

	<div class="box box--description">
		<div class="inner-box">
			<SectionHeader
				mainText={t("SectionHeader.mainText")}
				smallText={t("SectionHeader.smallText")}
				bgText={t("SectionHeader.bgText")}
			/>
			<div class="content">
				<section class="description">
					<h4 set:html={t("description.heading")} />
					<p>{t("description.content.1")}</p>
					<p>{t("description.content.2")}</p>
				</section>
				<Contact data={serviceContactData} />
				<Actions />
			</div>
		</div>
	</div>
</section>

<style>
	.about {
		.box {
			display: flex;
			flex-basis: 100%;
			flex-direction: column;

			@media (min-width: 700px) {
				flex: 1;
			}
		}

		.box--image {
			margin-bottom: 3rem;

			@media (min-width: 700px) {
				margin-bottom: 0;
			}

			.design-bg {
				position: relative;
				width: 65%;
				height: 550px;
				border: 1px solid rgba($primary, 0.1);

				&::after {
					position: absolute;
					left: 35px;
					bottom: 15px;
					z-index: -2;
					width: 144px;
					height: 166px;
					background-image: url(../images/dots-secondary.svg);
					background-repeat: no-repeat;
					background-size: 144px 166px;
					content: "";
					opacity: 0.5;
				}

				&,
				.img {
					background-repeat: no-repeat;
					background-position: top center;
					background-size: cover;
				}

				.img {
					position: absolute;
					top: 85px;
					right: -110px;
					width: 100%;
					height: 390px;
					border-radius: 4px;
					transition: top var(--transition-duration-slow) ease-in-out;
					background-image: url(../images/itsb-boehm-alexander-portrait.webp);
					@include retina("../images/itsb-boehm-alexander-portrait@2x.webp");

					&:hover {
						top: 50px;
					}
				}
			}
		}

		.box--description {
			@media (min-width: 700px) {
				.section-header {
					text-align: inherit;

					h4 {
						left: -1rem;
					}
				}
			}

			.content {
				padding: 0 1rem;

				.description {
					h4 strong {
						text-shadow: var(--primary) 0 0 7px;
					}

					p:first-of-type {
						margin-bottom: 0.5rem;
					}
				}

				.description {
					margin-bottom: 1.5rem;
					border-bottom: 1px solid
						color-mix(in srgb, var(--primary) 20%, transparent);
				}
			}
		}
	}
</style>
