---
---
<section class="actions">
  <button id="open-download-vc-modal" class="btn btn-primary-outline">
    Download vCard
  </button>
  <a href="/#contact-section" class="btn btn-primary">
    Hire me
  </a>
  <dialog id="download-vc-modal">
    <header>
      <h2>Download contact details?</h2>
    </header>
    <div class="modal-content">
      <p>Would you like to save my vCard?</p>
      <p>
        You can save them directly in your email programme, such as Outlook or Thunderbird.
        <br />
        Then you will always have my contact details to hand.
      </p>
      <p class="modal-content-actions">
        <a id="close-download-vc-modal" href="/downloads/IT Service Böhm -- Alexander Böhm.vcf" class="btn btn-primary" download>
          Download vCard now
        </a>
      </p>
    </div>
  </dialog>
</section>

<script>
  const dialog = document.querySelector('#download-vc-modal') as HTMLDialogElement;
  document.querySelector('#open-download-vc-modal')?.addEventListener('click', () => dialog.showModal());
  document.querySelector('#close-download-vc-modal')?.addEventListener('click', () => dialog.close());

  // Close when clicking on backdrop
  dialog.addEventListener('click', (e) => {
    if (e.target === dialog) dialog.close();
  });
</script>

<style>
  dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

  dialog {
    position: fixed;
    top: 20vh;
    left: calc(50% - 30rem);
    width: 60rem;
    background: var(--background);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

    header {
      padding: 1rem 0.5rem;
      background: var(--primary);

      h2 {
        margin: 0.5rem;
      }
    }

    .modal-content {
      max-height: 60vh;
      margin: .5rem;
      padding: 1rem .5rem;
      overflow-y: auto;
      color: var(--white);
    }

    .modal-content-actions {
      margin: 0 -0.5rem 1rem;
    }
  }
</style>
