---

---
<section class="description">
  <h4>
    Hi! I am <strong>Alex</strong>!
  </h4>
  <p>
    A few years ago, I discovered my love for web content. It started with simple games for my own personal use, but it has steadily developed into something more.
  </p>
  <p>
    At first, it was friends and family who wanted their own websites. Then came websites, especially for non-profit organisations, and now professional companies as well.
  </p>
</section>

<style></style>
