---
import { ClientRouter } from "astro:transitions";
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<title>Alexander Böhm >> Your partner for all things web from Neuwied</title>
<meta
	name="description"
	content="Alexander Böhm from Neuwied presents himself and his work around web design, SEO and web development."
/>

<!-- Open Graph tags -->
<meta
	property="og:title"
	content="Alexander Böhm >> Your partner for all things web from Neuwied"
/>
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.example.com/" />
<meta
	property="og:description"
	content="Alexander Böhm from Neuwied presents himself and his work around web design, SEO and web development."
/>
<meta
	property="og:image"
	content="https://www.example.com/_astro/seo-banner.BZD7kegZ.webp"
/>
<meta property="og:image:alt" content="" />

<!-- Twitter tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="" />
<meta name="twitter:description" content="" />
<meta name="twitter:image" content="" />
<meta name="twitter:site" content="@mheob_a" />
<meta name="twitter:creator" content="@mheob_a" />

<ClientRouter />
