---
---
<nav class="main-navigation">
  <!-- TODO: Add scrollspy -->
  <!-- <Scrollspy items={['home', 'about', 'services', 'stats', 'testimonials', 'contact']} currentClassName="active"> -->
  <ul>
    <li>
      <a href="/#root">
        Home
      </a>
    </li>
    <li>
      <a href="/#about">
        That's me
      </a>
    </li>
    <li>
      <a href="/#services">
        Angebot
      </a>
    </li>
    <li>
      <a href="/#stats">
        Statistiken
      </a>
    </li>
    <li>
      <a href="/#testimonials">
        Meinungen
      </a>
    </li>
    <li>
      <a href="/#contact">
        Kontakt
      </a>
    </li>
    <li>
      <hr />
    </li>
    <li>
      <a href="/impressum">
        Impressum
      </a>
    </li>
    <li>
      <a href="/datenschutz">
        Datenschutz
      </a>
    </li>
  </ul>
  <!-- </Scrollspy> -->
</nav>

<style>
  .main-navigation {
    ul {
      margin: 0 0 2rem 0;
      padding: 0;
      text-align: right;

      @media (min-width: 700px) {
        margin: 0;
      }

      li {
        margin: 0 0 0.625rem 0;
        padding: 0;
        font-weight: 500;
        font-size: 0.75rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        list-style: none;

        @media (min-width: 700px) {
          font-size: 1rem;
        }

        &.active a,
        a.active {
          color: var(--primary);

          &::after {
            transform: scaleX(1);
            visibility: visible;
          }
        }

        a {
          position: relative;
          padding: 10px 0;
          color: var(--white);
          text-decoration: none;
          transition: var(--transition-duration-fast);

          &:hover {
            color: var(--primary);

            &::after {
              transform: scaleX(1);
              visibility: visible;
            }
          }

          &::after {
            position: absolute;
            right: 0;
            bottom: 1.06rem;
            left: -1.5rem;
            width: 1rem;
            height: 1px;
            background-color: var(--primary);
            transform: scaleX(0);
            visibility: hidden;
            transition: all var(--transition-duration-fast)
              cubic-bezier(0.175, 0.885, 0.32, 1.275);
            content: "";
          }
        }
      }
    }
  }
</style>
