---
import { serviceDataEN } from "@/data/services";
import SectionHeader from "./SectionHeader.astro";
import Service from "./Service.astro";
---

<section class="services main-section" id="services">
	<SectionHeader
		mainText="Some of my offers"
		smallText="What should I do?"
		bgText="Offers"
	/>

	<section class="content">
		{
			serviceDataEN.map(({ icon, header, text, num }, index) => {
				const elNum = num || `0${index + 1}`;
				return <Service icon={icon} header={header} text={text} num={elNum} />;
			})
		}
	</section>
</section>

<style>
	.services {
		background: var(--background-dark);

		.content {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			gap: 2rem;

			@media (min-width: 900px) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media (min-width: 1600px) {
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}
</style>
