---
import { testimonialDataEN } from '@/data/testimonial';
import Carousel from './Carousel.astro';
import SectionHeader from './SectionHeader.astro';
import Testimonial from './Testimonial.astro';
---
<section class="testimonials main-section" id="testimonials">
	<div class="overlay" />

	<SectionHeader mainText="What customers say about my work" smallText="Customer testimonials" bgText="Quotations" />

	<Carousel>
		{testimonialDataEN.map(({ quote, name, company, image }) => (
			<Testimonial
				quote={quote}
				name={name}
				company={company}
				image={image}
			/>
		))}
	</Carousel>
</section>

<style>
	.testimonials {
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: cover;
		background-attachment: fixed;
		background-image: url(../images/itsb-testimonials-bg.webp);

		@media only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
        background-image: url(../images/itsb-testimonials-bg@2x.webp);
      }

		.overlay {
			position: absolute;
			inset: 0;
			z-index: 2;
			background: color-mix(in srgb, var(--black) 80%, transparent);
		}

		.section-header {
			h6 {
				color: color-mix(in srgb, var(--white) 10%, transparent);
			}
		}
	}
</style>
