---
import '@fontsource/geist-sans';

import Head from '@/components/Head.astro';
import NavigationToggle from '@/components/NavigationToggle.astro';

import '@/styles/global.css';

interface Props {
	lang?: 'de' | 'en';
}

const { lang = 'en' }: Props = Astro.props;
---
<html lang={lang}>
  <head>
    <Head />
  </head>
  <body>
    <div id="root">
      <NavigationToggle />
      <slot />
    </div>
  </body>
</html>

<style>
  #root {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
  }
</style>
